@media (min-width: 412px) and (max-width: 912px) {
    
    img.header-image {
        display: none;
    }
    
    header {
        background-image: url("../images/profile-tablet-picture.jpg");
        background-repeat: no-repeat;
        background-size: 100%, 100%;
        background-color: rgba(25, 169, 229, 0.06);
        height: 50vh;
    }
    
     li  {
        display: inline;
        
    }
    nav {
        text-align: center;
        display: block;
        // margin: 5px;
      
    }

    

    nav li a {
        display: inline;
        color: white;

    }

    p {
        width: 80%;
        line-height: 2.5rem;
        text-align: center;
        margin: 25px auto;
    }

} 