@import 'mobile';
@import 'tablet';
@import 'desktop';
@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display|Scope+One|Roboto+Slab:300');


$nav-color: rgba(169, 169, 169, 0.54);
$secondary-color: rgba(25, 169, 229, .06);
/* Global Styles--
------------------ */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Oswald;
}



h1 {
    font-size: .8rem;

}

header h2 {
    font-size: 1.2rem;
    margin: 0;

}


    


p {
    text-align: justify;
    font-family: "Roboto Slab";
    color: black;
}

#bio {
    padding: 10px;
}

.name {
    font-size: 1.5rem;}
    
.name, h1, h2, {
    padding-right: 30px;
    }
    
    
    


.flex-container {
    display: flex;
    flex-direction: column;
}

.child {
    width: 100%;
    text-align: right;
}

/*---------------------------------
___________________________________*/

img.header-image {
    
    height: 50px;
    width: 50px;
    position: relative;
    top: 0;
    left: 10px;
    z-index: 2;
}

    



// section#services button {
//     height: 35px;
//     border-radius: 2%;
//     // background-color: $color-5;
//     font-size: 15px;
// }

span {
    text-align: right;
}


form {
    margin-top: 100px;

}

label {
    margin: 40px;
}





    


nav ul li a {
    margin: 5px;
}

nav li:hover {
    background-color: rgba(169, 169, 169, 0.75);
}

form {
    padding-left: 40px;
}

form label, form input {
    display: block;
}

form label {
    margin: 0;
}

/* Following Styles Are For
The About Me Section */


textarea#message {
    width: 80%;
    margin-bottom: 5px;
    display: block;
    margin: 5px auto 10px auto;
}

#bio, #portfolio, #contact {
    height: 100vh;
}

#portfolio {
    background-color: white;
}

#bio {
    background-color: $secondary-color;
}

#contact {
    background-color: #3C3C3B;
}





a {
    color: black;
    text-decoration: none;
}
a:hover {
    font-size: 30px;
}

